@import '../_variables.scss';

.invoice_item {
    &-ctn {
        width: 100%;
        outline: 1px solid $bg-light;
        transition: all 100ms ease-in-out;
        &:hover {
            outline: 1px solid $item-border-light;
        }

        &.open {
            background-color: $item-bkg-light;
            height: fit-content;
        }

    }
    
    &-header {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        background-color: $bg-dark;
        width: 100%;
        margin: auto;
        padding:  .25em 1.5em;
        &.open {
            background-color: $item-bkg-light;
        }
        cursor: pointer;

    }
    &-column {
        height: 1.5em;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > p {
            margin: 0;
            font-size: .8em;
        }
        // &:last-child {
        //     justify-content: flex-end;
        // }
    }
    
    &-detail {
        &-ctn{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-content{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: justify;
            gap: 1em;
            border-top: $item-border-light 1px solid;
            padding: .5em;

            > p{
                padding: 0;
                margin: 0
            }
        }
    }
    
    &-close {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(59, 59, 59);
        cursor: pointer;
        transition: all 250ms ease-in-out;
        
        &:hover {
            background-color: rgb(78, 78, 78);
        }
    }
}

.send_invoice-btn {
    cursor: pointer;
    padding: .5em;
    border-radius: 50px;
    
    &:hover {
        border-radius: 50px;
        transition: all 250ms ease-in-out;
        background-color: $accent;
        color: $accent
    }
}

@media screen and (min-width: 768px) {
    .invoice_item {
        &-ctn {
            min-height: 2.5em;
            width: 700px;
            display: flex;
            justify-content: center;    
            align-items: center;
            flex-direction: column;
            outline: 1px solid $bg-light;
            transition: all 100ms ease-in-out;
            &:hover {
                outline: 1px solid $item-border-light;
            }
    
            &.open {
                background-color: $item-bkg-light;
                height: fit-content;
            }
        }
        
        &-header {
            display: grid;
            grid-template-columns: 25% 25% 25% 1fr 5% 5%;
            text-align: left;
            background-color: $bg-dark;
            width: 90%;
            margin: auto;
            padding:  .25em 1.5em;
            &.open {
                background-color: $item-bkg-light;
            }
            cursor: pointer;
        }
        &-column {
            height: 1.5em;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
            > p {
                margin: 0;
                font-size: 1em;
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
       
    }
    
}