@import '../_variables';

.invoice_item {

    &-ctn {
        display: grid;
        grid-template-columns: 25% 25% 25% 1fr 5% 5%;
        text-align: left;
        background-color: $bg-dark;
        border: 1px solid $bg-light;
        width: 100%;
        padding:  .25em 1.5em;
        transition: all 250ms ease-in-out;
                &:hover {
                    border: 1px solid white;
                }
    }
    &-column {
        text-align: left;
        display: flex;
        align-items: center;
    }
}

.send_invoice-btn {
    cursor: pointer;
    padding: .5em;
    border-radius: 50px;

    &:hover {
        border-radius: 50px;
        transition: all 250ms ease-in-out;
        background-color: $accent;
        color: $accent
    }
}