$background-color: #1a1a1a;

$accent: #DAA80E;
$primary-color: rgb(224, 224, 224);
$bg-light: #444444;
$bg-dark: #242424;


$item-bkg-light: rgba(48, 48, 48, 0.603);
$item-bkg-dark: rgb(31, 31, 31);
$item-border-light: rgb(97, 97, 97);