#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: auto;
  font-family: 'Lato', sans-serif;
}
@import '_variables.scss';

.app-bkg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
}

h1 {
  color: $accent;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.app-ctn {
  width: 700px;
  margin: auto;
  border-radius: 15px;
  padding: 2.5em;
  background-color: $bg-dark;
  color: $primary-color;
}

.button-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $accent;
  padding: .5em 1em;
  height: 2em;
  width: 50%;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  // background-color: $accent;
  color: $accent;
  border-radius: 15px;
  margin: 1em;
  background-color: transparent;
  font-weight: bolder;
  font-size: larger;
  text-transform: uppercase;

  
  &:hover {
    transition: all 250ms ease-in-out;
    color: black;
    background-color: $accent;
  }
}

.link-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $accent;
  padding: .5em;
  height: 2em;
  width: 2em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  background-color: $accent;
  color: black;
  border-radius: 15px;
  margin: 1em;
  
  &:hover {
    transition: all 250ms ease-in-out;
    background-color: transparent;
    color: $accent
  }

  >a {
    text-decoration: none;
    color: black;
  }
}

.header-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;



}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
